header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
    font-family: 'Maven Pro', sans-serif;
   
  }
  .header-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $nav-color;
   gap: 2em;

  }
  .nav {
    color: $nav-color;
    
  }
  .logo img {
    width: 100px;
    height: auto;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    gap:.5em;
  }
  
  nav ul li {
    margin-left: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1.2em;
  }
  .schedule{
    text-decoration: none;
    color: $schedule-color;
  }