
main{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 5rem;
}.pagination {
  margin-bottom: 2em;
}

.slider {
  background: rgb(121, 85, 242);
  background: radial-gradient(
    circle,
    rgba(121, 85, 242, 1) 17%,
    rgba(100, 77, 240, 1) 81%
  );
  height: 13em;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3em;
}

.slider img:nth-child(1) {
  max-width: 15em;
  height: 2em;
  margin-top: -0.5em;
}
.slider img:nth-child(4) {
  max-width: 40em;
  height: 2em;
  margin-left: -10em;
  margin-top: -1em;
}
.presentor {
  height: 18em;
  margin-top: -5em;
  width: 22em;
}
.text-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}
H1 {
  font-size: 3.5em;
  font-family: "Museobold", serif;

  margin: 0;
}
.slider p {
  font-size: 2em;
  font-family: "Maven pro", sans-serif;
  font-weight: 400;
  margin: 0;
}
.pagination {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}
.pagination i {
  padding-right: 0.5em;
  border-right: 2px solid #333;
}
.pagination p {
  font-size: 1.2em;
  font-family: "Museo", serif;
  font-weight: 300;
  color: $schedule-color;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-column-gap: 1em;
  grid-row-gap: 1em;
//   justify-content: space-between;
  margin: 0 auto;
  width: 90%;
}

.gradient img {
  width: 100%;
  object-fit: cover;
}
.gradient {
  position: relative;
}

.gradient:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99.2%;
  background: linear-gradient(
    130deg,
    rgba(116, 89, 241, 0.6) 35%,
    rgba(234, 240, 239, 0.3) 55%,
    rgba(234, 240, 239, 0.3) 75%,
    rgba(0, 192, 172, 0.6) 80%
  );
}
.speaker_bubble {
  width: 50%;
  display: flex;
  align-self: end;
  margin-top: -1.5em;
  z-index: 1;
}
.speaker {
  display: flex;
  flex-direction: column;
  aspect-ratio: 1;
}
h2 {
  white-space: pre-line;
}
